// =========================================
//  Mixins
// =========================================

// Media Queries
@mixin mq($break) {
    $value: map-get($breakpoints, $break);
    $sm: map-get($breakpoints, 'sm');

    @if $value < $sm {
        @media (max-width: $value) {
            @content;
        }
    }
    @else {
        @media (min-width: $value) {
            @content;
        }
    }
}

// Create Flex Container
@mixin flexy(
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
}